@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
:root {
  --main-color: rgba(163, 165, 67, 0.678);
  --secondery-color: rgba(219, 217, 217, 0.815);
  --main-font: rgba(22, 1, 1, 0.966);
}
h1 {
  font-weight: 700;
  font-size: 3rem;
  color: var(--main-font);
}
.font-color {
  color: rgba(66, 1, 1, 0.849);
}
body {
  background: rgba(202, 201, 201, 0.308);
}
.btn-click {
  background: rgba(129, 69, 54, 0.432);
  color: var(--text-color);
  border: 2px solid saddlebrown;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.btn-click:hover {
  color: white;
  box-shadow: 20px 20px 50px 10px var(--main-color) inset;
}
